Create a Spark Session

In [1]:
from pyspark.sql import SparkSession

Start the Spark Session

In [2]:
spark = SparkSession.builder.appName('GroupBy and Aggregate').getOrCreate()

Load and display the data

In [3]:
filePath = ('sales_info.csv')
df = spark.read.csv(filePath,inferSchema=True, header=True)
df.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|   Mike|750.0|
|   APPL|  Chris|350.0|
+-------+-------+-----+

Check the data type by using the schema

In [4]:
df.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: double (nullable = true)

Get the mean by company

In [8]:
df.groupBy('Company').mean().show()

+-------+-----------------+
|Company|       avg(Sales)|
+-------+-----------------+
|   APPL|            370.0|
|   GOOG|            220.0|
|     FB|            610.0|
|   MSFT|322.3333333333333|
+-------+-----------------+

Get the count by company

In [9]:
df.groupBy('Company').count().show()

+-------+-----+
|Company|count|
+-------+-----+
|   APPL|    4|
|   GOOG|    3|
|     FB|    2|
|   MSFT|    3|
+-------+-----+

Get the max by company

In [10]:
df.groupBy('Company').max().show()

+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   APPL|     750.0|
|   GOOG|     340.0|
|     FB|     870.0|
|   MSFT|     600.0|
+-------+----------+

Get the sum by company

In [11]:
df.groupBy('Company').sum().show()

+-------+----------+
|Company|sum(Sales)|
+-------+----------+
|   APPL|    1480.0|
|   GOOG|     660.0|
|     FB|    1220.0|
|   MSFT|     967.0|
+-------+----------+

Using the .agg() method

In [12]:
df.agg({'Sales': 'max'}).show()

+----------+
|max(Sales)|
+----------+
|     870.0|
+----------+

Get the sum of total sales using the agg() property

In [13]:
df.agg({'Sales':'sum'}).show()

+----------+
|sum(Sales)|
+----------+
|    4327.0|
+----------+

Importing functions

In [19]:
from pyspark.sql.functions import countDistinct, stddev, avg, format_number

In [16]:
df.select(countDistinct('Company').alias('ComCount')).show()

+--------+
|ComCount|
+--------+
|       4|
+--------+

In [18]:
df.select(avg('Sales').alias('AvergeSales')).show()

+-----------------+
|      AvergeSales|
+-----------------+
|360.5833333333333|
+-----------------+

In [20]:
showVal = df.select(avg('Sales').alias('AvergeSales'))

In [24]:
showVal.select(format_number('AvergeSales',2).alias('AvgSales')).show()

+--------+
|AvgSales|
+--------+
|  360.58|
+--------+

In [21]:
showVal

DataFrame[AvergeSales: double]

Working with Order By

In [26]:
df.orderBy('Company').show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   APPL|  Chris|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|   Mike|750.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   GOOG|  Frank|340.0|
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
+-------+-------+-----+

Order by company in descending order

In [27]:
df.orderBy(df['Company'].desc()).show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   MSFT|    Amy|124.0|
|   MSFT|   Tina|600.0|
|   MSFT|Vanessa|243.0|
|   GOOG|    Sam|200.0|
|   GOOG|  Frank|340.0|
|   GOOG|Charlie|120.0|
|     FB|  Sarah|350.0|
|     FB|   Carl|870.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|  Chris|350.0|
|   APPL|   Mike|750.0|
+-------+-------+-----+

THE END