Creating a spark session

In [1]:
from pyspark.sql import SparkSession

Start a spark Session

In [2]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

Load data to be used

In [3]:
df = spark.read.json('C:\Continuous Education\IMPORTANT LEARNING - Apache Spark\Spark_DataFrames\people.json')

Display the data

In [4]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

Check the data schema

In [5]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

Display the column of the dataframe

In [6]:
df.columns

['age', 'name']

Discribe the dataframe as an object

In [7]:
df.describe()

DataFrame[summary: string, age: string, name: string]

Display the data for the describe

In [8]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

Getting data from a dataframe as an object

In [10]:
df['age']

Column<'age'>

Getting data from a dataframe and displaying it

In [13]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

Returns rows from a dataframe

In [19]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

Return multple colums

In [21]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

Creatinga new column in a dataframe

In [22]:
# Syntas = withColumn('NewColumnName','Data for the column')
df.withColumn('NewAge',df['age']).show()

+----+-------+------+
| age|   name|NewAge|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [23]:
# Syntas = withColumn('NewColumnName','Data for the column')
df.withColumn('NewAgeDuble',df['age']*2).show()

+----+-------+-----------+
| age|   name|NewAgeDuble|
+----+-------+-----------+
|null|Michael|       null|
|  30|   Andy|         60|
|  19| Justin|         38|
+----+-------+-----------+

Rename Column

In [25]:
# Syntas = withColumnRename('OldColumnName','NewColumnName')
df.withColumnRenamed('age','CurrentAge').show()

+----------+-------+
|CurrentAge|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

Using SQL in Spark

In [27]:
# Create the dataframe as a view
df.createOrReplaceTempView('people')

In [30]:
query = 'SELECT * FROM people'
sql_result = spark.sql(query)
sql_result.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [31]:
query = 'SELECT * FROM people where age = 19'
sql_result = spark.sql(query)
sql_result.show()

+---+------+
|age|  name|
+---+------+
| 19|Justin|
+---+------+

In [34]:
query = 'SELECT * FROM people ORDER BY age'
sql_result = spark.sql(query)
sql_result.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  19| Justin|
|  30|   Andy|
+----+-------+